img {
    width: 200px;
}



.dogPhotos {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
  flex-wrap: wrap;
}

.pTag {
    text-align: center;
}