.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  background-color: rgb(223, 222, 222);
}

img {
  height: 100px;
  width: 100px;
  margin-left: 20px;
  align-self: center;
}
.info {
  margin: 20px;
  align-self: center;
  text-align: left;
}

.info ul li {
  list-style: none;
  margin: 5px 0;
}
